      <div id="sidebar">
          <ul>
              <li class=<%= "active" if @inbox_active%> >
                <a href="/inbox">Inbox <span class="badge">20</span></a>
            </li>
            <li class=<%= "active" if @outbox_active%>>
                <a href="/outbox">Outbox </a>
            </li>
            <li class=<%= "active" if @draft_active%>>
                <a href="/draft">Drafts <span class="badge">9</span></a>
            </li>
            <li class=<%= "active" if @spam_active%>>
                <a href="/spam">Spam <span class="badge">11</span></a>
            </li>
            <li class=<%= "active" if @trash_active%>>
                <a href="/trash">Trash </a>
            </li>
          </ul>
      </div>
      <div class="main-content">
          <div class="swipe-area">
            <a href="#" data-toggle=".container-wrapper" id="sidebar-toggle">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </a>
          
          
          </div>


          <div class="content">
            
             <%= erb :content_mail %>
         </div>
      </div>