<div id="wrapper">

<%= erb :sidebar_mail %>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-lg-12">
              <% if @inbox_active %>
                <%= erb :content_inbox %>
              <% elsif @outbox_active %>
                <%= erb :content_outbox %>
              <% elsif @draft_active %>
                <%= erb :content_draft %>
              <% elsif @spam_active %>
                <%= erb :content_spam %>
              <% elsif @trash_active %>
                <%= erb :content_trash %>
              <% end %>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">></a>
          </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- #wrapper -->