      <div id="sidebar">
          <ul>
              <li class=<%= "active" if @inbox_active%> >
                <a href="/inbox">Inbox</a>
            </li>
            <li class=<%= "active" if @outbox_active%>>
                <a href="/outbox">Outbox</a>
            </li>
            <li class=<%= "active" if @draft_active%>>
                <a href="/draft">Drafts</a>
            </li>
            <li class=<%= "active" if @spam_active%>>
                <a href="/spam">Spam</a>
            </li>
            <li class=<%= "active" if @trash_active%>>
                <a href="/trash">Trash</a>
            </li>
          </ul>
      </div>
      <div class="main-content">
          <div class="swipe-area"></div>
          <a href="#" data-toggle=".container-wrapper" id="sidebar-toggle">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </a>
          <div class="content">
             <%= erb :content_mail %>
         </div>
      </div>