<!-- Sidebar -->
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
 
    <li class=<%= "active" if @inbox_active%> >
        <a href="/inbox">Inbox</a>
    </li>
    <li class=<%= "active" if @outbox_active%>>
        <a href="/outbox">Outbox</a>
    </li>
    <li class=<%= "active" if @draft_active%>>
        <a href="/draft">Drafts</a>
    </li>
    <li class=<%= "active" if @spam_active%>>
        <a href="/spam">Spam</a>
    </li>
    <li class=<%= "active" if @trash_active%>>
        <a href="/trash">Trash</a>
    </li>
    
</ul>
</div>
<!-- /#sidebar-wrapper -->